#intro{
    background-color:rgb(218, 181, 224);
}
*{
    margin: 4px;

}
#fname{
    margin-right:60px;
}
 .mb-3{
   
    margin: top 25px;
 }  

 #mname{
    margin: top 25px;

 }
 #intro{
    border-left:5px solid rgb(6, 4, 8);
    border-right:5px solid black;
    border-bottom:5px solid black;
    border-top:5px solid black;
 }
 #resume{
    border-left:5px solid rgb(10, 8, 14);
    border-right:5px solid black;
    border-bottom:5px solid black;
    border-top:5px solid black;
 }

 #submit{
   margin-left: 370px;
}